<div>
  <div class="backgroundimage">
    <div class="containercenter">
      <form>
        <fieldset>
          <div class="form-group">
            <label for="exampleInputEmail1">Enter Location</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter location">
          </div>
          <button type="submit" class="btn btn-primary" routerLink="/listing">Submit</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
